@font-face {
    font-family: "NotoSansR";
    src: url("../font/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "NotoSansR";
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, .82);
}

h1 {
    text-align: left;
    margin-top: 30px;
    display: inline-block;
    width: 95px;
    height: 18px;
}

#head_inner nav {
    width: 100%;
    text-align: center;
    height: 70px;    
    z-index: 99;
    background: rgba(255, 255, 255, .82);
    box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
    position: fixed;
}

.gnb_inner {
    text-align: center;
    display: inline-block;
    margin-right: 110px;
}

.gnb_inner ul {
    display: inline-block;
    width: 900px;
}

.gnb_inner ul li {
    float: left;
    margin-left: 60px;
}

.gnb_inner ul li a {
    color: #112233;
    font-family: 600;
    font-size: 15px;
    border-radius: 3px;
}

.login_btn {
    display: inline-block;
    float: right;
    margin-bottom: 90px;
    padding-top: 16px;
    margin-right: 100px;
}

.login_btn ul {
    display: inline;
    width: 300px;
}

.login_btn ul li {
    float: right;
    height: 50px;
    margin-right: 30px;
}

.login_btn ul li a {
    color: #174c88;
    font-size: 14px;
    line-height: 45px;
}

.gnb_inner ul li:hover {
    color: rgb(102, 102, 245);
    font-weight: bold;
}

.login_btn ul li:hover {
    font-weight: bold;
}

/*-- �뿤�뜑 �쁺�뿭 �걹 --*/


/*-- content �떆�옉 -- */

.content{
  width:  100%;
  height: auto;
}

/*-- content tit �떆�옉 --*/
.content_tit {
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
   
    
}


.content_tit strong{
    font-size: 29px;
    font-weight: bold;
    margin-left: 10px;
    color:black;
  
}

.content_tit p{
    margin-top: 13px;
    font-size: 17px;
    margin-left: 10px;
    
} 
/*-- content tit �걹-- */



/*-- content slider �떆�옉 --*/
.slider{
  width: 1260px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  right: 10px;
  overflow: hidden; 
  margin-top: 20px;
  background-color: #112233;
}
.slider input[type=radio]{
  display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
  position: absolute;
  transition-delay: 1s; 
  padding: 0;
  margin: 0;
}


ul.imgs li img{
  width: 100%;
  cursor: pointer;
  height: 300px;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}


.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
/*-- content slider �걹 --*/




/*--content shop �떆�옉*/
.content_shop{
   position: relative;
   width: 1300px;
   overflow: hidden;
   margin: 0 auto;
}
p.noProduct {
	width: 250px;
	text-align: center;
	margint: 40px auto;
}

.box {
  width: 300px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin: 40px 10px;
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
  box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}

.box:hover {
  transform: translateY(-10px);
}


.box * {
  padding: 10px;
 
 
}

.box a{
  padding: 0;
  overflow: hidden;
  width: 300px;
  height: 300px;
}


.box .img {
  display: block;
  width: 100%;
  height: 300px;
  padding: 0;
  
  
}

.box .heading {
  margin-top: 20px;
  font-size: 17px;
}



.box .data {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #666;
}

.box .data span {
  padding: 0;
}



.box .data .user-id {
  font-size: 16px;
  color: #174c88;
  font-weight: 600;
}

.box .texts {
  font-size: 12px;
  line-height: 18px;
  color: red;
}
/*--content shop �걹--*/


/*--content button �떆�옉--*/
.pageBtn {
  height: 70px;
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.pageBtn .ulBtn {
  position: relative;
  display: inline-block;
}
.pageBtn .ulBtn li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 27px;
  border: 1px solid rgba(204,204,204,0);
}
.pageBtn .ulBtn li a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-family: "pretendard";
  color: #000;
  font-size: 15px;
}
.pageBtn .ulBtn li.present_btn {
  border: 1px solid rgba(204,204,204,1);
}
.pageBtn .ulBtn li.present_btn a {
  color: #112233;
  font-weight: 600;
}
.pageBtn .ulBtn li:hover:not(.previous_btn, .next_btn) {
  border: 1px solid rgba(204,204,204,1);
}

  /*--content button �걹--*/
  