#content{
    position: relative;
    width: 1300px;
    margin: 0 auto;
    top: 50px;
    height: 1400px;
}
.page_title{
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
    width: 800px;
    height: 50px;
}
.l_title_box{
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #ADADAD;
    width: 1300px;
    margin-top: 50px;

}
.l_title{
    font-size: 15px;
    color: #5F5F5F;
}
.order_box1{
    position: relative;
    height: 220px;

}
.order_box2{
    position: relative;
    width: 1300px;
    height: 92px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 30px;
    padding: 25px 20px;
    transition: all 0.4s;
}
.order_box2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.num_count{
    position: absolute;
    border: 1px solid #97CD6D;
    width: 37px;
    height: 25px;
    padding: 5px 5px;
    border-radius: 5px;
}
.num_count p{
    color: #7bb44f;
    font-size: 12px;
    font-weight: bold;
    padding-left: 1px;
}
.order_box_t{
    position: relative;
    left: 50px;
    top: 3px;
}
#big_span{
    font-weight: bold;
    font-size: 15px;
}
#small_span{
    font-size: 15px;
}
#price{
    position: relative;
    font-size: 14px;
    top: 10px;
    left: 50px;
}
.chbox{
    position: relative;
    height: 300px;
}
.name{
    position: absolute;
    padding-top: 30px;
}
.name>p{
    font-size: 15px;
}
.name>span{
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 30px 25px;
}
.price_box{
    position: relative;
    width: 1300px;
    height: 92px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 30px;
    padding: 25px 20px;
}
.price_box>p{
    position: relative;
    font-size: 15px;
    bottom: 10px;
}
.big_em{
    font-size: 20px;
    font-weight: bold;
}

.refund{
    overflow-y: scroll;
    position: relative;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    top: 150px;
}
.ref_red{
    font-size: 11px;
    color:#e75172;
}
.ref_title p{
    padding: 10px 50px;
    font-size: 11px;
    color: #414141;

}
.ref_box_title{
    color: #414141;
    font-size: 14px;
}
.button_box{
    position: relative;
    height: 200px;
    margin-top: 200px;
}
.button_box>span{
    position: relative;
    top: 100px;
    font-size: 11px;
    color: #A5A5A5;
}
button{
    cursor: pointer;
    position: relative;
    width: 1300px;
    height: 52px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    background-color: #112233;
    transition: all 0.3s;
}
button:hover{
    background-color: #213d58;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}